# Local notebook - First approach

In [3]:
import pandas as pd
import numpy as np
import spacy

In [4]:
raw_df = pd.read_csv('../data/train.csv')
raw_df.head()

,textID,text,selected_text,sentiment
0,a3d0a7d5ad,Spent the entire morning in a meeting w/ a ven...,my boss was not happy w/ them. Lots of fun.,neutral
1,251b6a6766,Oh! Good idea about putting them on ice cream,Good,positive
2,c9e8d1ef1c,says good (or should i say bad?) afternoon! h...,says good (or should i say bad?) afternoon!,neutral
3,f14f087215,i dont think you can vote anymore! i tried,i dont think you can vote anymore!,negative
4,bf7473b12d,haha better drunken tweeting you mean?,better,positive

In [5]:
raw_df.shape

(27486, 4)

In [8]:
# remove missing values
raw_df = raw_df.dropna()
raw_df.shape

(27485, 4)